<nav class="navbar  navbar-expand-lg navbar-dark" style="background-color: #221f1f;"  >
   <a class="navbar-brand "  href="/" style="padding-top: 1%; font-size: 20px;" >Awards</a>
   <button class="navbar-toggler" style="color: white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon" style="color: white;"></span>
   </button>
   <a class="nav-link " href="{% url 'new_post' %}"  style="border: blanchedalmond; margin-right: 2%;">Add a project site</a>
     
 
   <div class="collapse navbar-collapse rest"  id="navbarSupportedContent" >
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
       </li>
       
       
     </ul>
     <ul>
     <li class="nav-item dropdown mr-auto" >
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        {{ user.profile.user }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
        <a class="dropdown-item" href="{% url 'profile' %}" style="color: black !important;">Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout"style="color: black !important;">Logout</a>
      </div>
    </li>
  </ul>
     <form class="form-inline my-2 my-lg-0 search" action="{% url 'search_results' %}" >
       <input class="form-control mr-sm-2" type="search" placeholder="Search for a project... " aria-label="Search" style="font-size: 15px;" name="projects">
       <button class="btn btn-info my-2 my-sm-0" type="submit" style="font-size: 15px;">Search</button>
     </form>
   </div>
 </nav>