{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load static %}
<div class="container mt-5" >
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-body mb-3 mr-3 ml-3" >
                    <p class="text-center" >Sign up to see photos and videos from your friends.
                    </p>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary btn-sm mt-2" style="background-color: red;width: 100px;position: center;"> Sign up</button>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
            <div class="card mt-1" style="height: 4rem;margin-top: 0;">
                <div class="card-body mt-3 mb-2 mr-3 ml-3">
                    <p>Have an account? <a href="{% url 'login' %}" style="color: red;">Log in</a></p>
                </div>
            </div>
            
        </div>

        <div class="col-md-2"></div>
    </div>
</div>
<style>
    *{
        font-family: 'Nunito', sans-serif;
    }
</style>
{% endblock %}
